<!DOCTYPE html>
<html>
<head>
  <title>DemoGem</title>
  <%= stylesheet_link_tag    "demo_gem/application", :media => "all" %>
  <%= javascript_include_tag "demo_gem/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
